.search {
  margin-top: 40px;
  width: 450px;
  display: flex;
  justify-content: space-between;
}
.search #button-background {
  background-color: #f1f4e5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  transform: translate(28px);
  transition-duration: 100ms;
}

.search-form {
  width: 60%;
}

.search input {
  width: 100%;
  border: 2px solid black;
}
.search input::placeholder {
  color: black;
  font-family: 'Ubuntu', sans-serif;
}

.limitButtons {
  border: 2px solid black;
  border-radius: 2px;
}
.search-button {
  position: relative;
  border: none;
  z-index: 1;
}
#middle {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.search-input, .search-button {
  font-size: 15px;
  padding: 5px;
  background-color: transparent;
  color: black;
}

@media only screen and (max-width: 768px) {
  .search {
    width: 400px;
  }
}

@media only screen and (max-width: 481px) {
  .search {
    width: 300px;
  }
}
